.jumbotron {
  min-height: 100vh;
  background-image: url("../images/jumbo-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-bottom: 0;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 40px;
}

.navbar {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  background-color: #FFF;
  opacity: 0.75;
}

.fab {
  text-decoration: none;
  font-size: 40px;
  margin: 5px 5px;
}

.fa-facebook-square {
  color: #4868ac;
}

.fa-twitter-square {
  color: #00acee;
}

.fa-pinterest-square {
  color: #b62f26;
}

#recipes img {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

.recipe-image {
  position: relative;
}

#recipes {
  align-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 90%;
  padding: 20px 40px;
  margin-bottom: 40px;
}

/* overlay text of recipe images */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #D5D5D5;
  border-radius: 10px;
}

.recipe-image:hover .overlay {
  opacity: 0.8;
}

.text {
  color: #000;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* For mobile phones */
@media only screen and (max-width: 600px) {
    .text {
        font-size: 30px;
    }
}
/* For desktop */
@media only screen and (min-width: 600px) {
    .text {
        font-size: 30px;
    }
}

#about {
  align-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 20px 40px;
  margin-bottom: 40px;
}

form, .modal {
  font-family: "Josefin Slab", serif;
}

h3, h4 {
  font-weight: bold;
}

.modal-body li {
  font-size: 18px;
}

#contact-form {
align-content: center;
background: rgba(255, 255, 255, 0.6);
border-radius: 10px;
width: 60%;
padding: 20px 40px;
margin-bottom: 40px;
}
