.jumbotron {
  min-height: 100vh;
  background-image: url("../images/jumbo-image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 40px;
}
