.jumbotron {
  min-height: 100vh;
  background-image: url("../images/jumbo-image.jpg");
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  padding-top: 60px;
  margin-bottom: 40px;
}

.navbar {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  background-color: #FFF;
  opacity: 0.75;
}

.fab {
  text-decoration: none;
  font-size: 40px;
  margin: 5px 5px;
}

.fa-facebook-square {
  color: #4868ac;
}

.fa-twitter-square {
  color: #00acee;
}

.fa-pinterest-square {
  color: #b62f26;
}

#recipes img {
  display: block;
  width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 10px;
}

#recipes {
  align-content: center;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  width: 90%;
  padding: 20px 40px;
}
